.cardsPF{
    margin-left:-1%;
}

@media only screen and (max-width: 720px){
    .cardsPF{
        margin-left:1%;
    }
}
@media only screen and (max-width: 360px){
    .cardsPF{
        margin-left:5%;
    }
}