.container {
  display: flex;
  align-items: center; 
  flex-direction: column;
  margin-top: 5%;
  position: relative;
  width: 100%;
  height: auto;
  margin-left: 15% !important;
  margin-bottom: 0%!important ;
  background-color: white;
}

.itemCont {
  flex: 1;
  display: flex;
  width: 1060px;
  margin-top: 3%;
  margin-left: 8%;
  margin-bottom: 2%;

}

.favoritosCont {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  background-color: #F4B1D2;
  margin-bottom: 2%;
  color: #F5037C;
  top: 0px;
  width: 1020px;
  height: 540px;
}

.responsive-image{
    height: 587px;
    width: 100%;
  }



  @media only screen and (max-width: 1020px){
    .itemCont {
      width: 1000px;
      margin-left: -2%;
    }
   
    .favoritosCont {
      margin-left: 3%;
      width: 950px;
      height: 500px;
    }
    .container {
      margin-left: 8% !important;
    }
    .favoritos-col{
      width: 220px;
    }
  }

  @media only screen and (max-width: 720px){

  .itemCont {
    width: 700px;
    margin: 0px;
    padding: auto;
  }
 
  .favoritosCont {
    margin-left: 5%;
    width: 645px;
    height: 380px;
  }
  .favoritos-col{
    margin-top: 4%;
    width: 150px;
  }
}

  @media only screen and (max-width: 360px){
    .container {
      margin: 0%; 
      position: relative;
      width: 100%;
      height: auto;
      margin-left: -4% !important;
      margin-bottom: 0%!important ;
    }
    .itemCont{
      width: 360px;
      margin: 0px;
      margin-top: 10px;
      padding: auto;
  
    }
    .favoritosCont {
      margin-left: 8%;
      margin-bottom: 5%;
      top: 0px;
      width: 300px;
      height: 200px;
    }
    .favoritos-col{
      margin-top: 4%;
      width: 65px;
    }
  }