.cardhoverP {
    width: 1015px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #101010;
    margin-top: 5%;
    margin-left: 15%;
}
.contentColumn p{
    line-height: 18px !important;
}
.containerP {
    background-color: #FFE5F2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 69px;
    gap: 10px;
    box-shadow: 0px 4px 8.5px rgba(0, 0, 0, 0.25), 2px 0px 8px rgba(0, 0, 0, 0.25);
}

.contentColumn h1 {
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 60px;
    text-align: left !important;
}

.contentColumn p {
    text-align: left !important;
}

.centered-text {
    width: 743px;
}

.imgCard{
    width:108px;
    height:100%;
}
@media (max-width: 1024px) {
    .imf {
        width: 1024px;
    }

    .responsive-image {
        width: 1024px;
    }
}

@media only screen and (max-width: 720px){

    .containerP { 
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-left: 6%;
        width: 650px;
        gap: 0px;
      
      }
      .imgColumn {
        width: 30%;
        margin-top:-5%
      }
    .cardhoverP {
        width: 10%;
        margin-top: 5%;
        margin-left: 4%;
    }
    .imgCard{
        width:90%;
        height:90%; 
    }

    .contentColumn h1 {
    margin-top: 8%;
    margin-bottom: 8%;
    font-weight: 600;
    font-size: 20 px;
    line-height: 10px;
    padding-left: 10%;
    
}

.contentColumn p {
    font-size: 12px;
    line-height: 15px;
    padding-left: 5%;
    padding-right: 3%;
}

.centered-text {
    width: 600px;
    height: 90px;
}

.centered-text {
    font-size: 12px;
    padding-left: 5%;
    text-align: center;
}
}



@media (max-width: 640px) {
    .imf {
        width: 640px;
    }

    .responsive-image {
        width: 640px;
    }
}

@media only screen and (max-width: 360px){

    .containerP {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-left: -3%;
        width: 300px;
        gap: 0px;
      
      }
      .imgColumn {
       
        width: 30%;
        margin-top:-10%
      }
    .cardhoverP {
        width: 10%;
        margin-top: 5%;
        margin-left: 4%;
    }
    .imgCard{
        width:90%;
        height:90%; 
    }

    .contentColumn h1 {
    margin-top: 5%;
    margin-bottom: 8%;
    font-weight: 400;
    font-size: 16px;
    line-height: 10px;
    padding-left: 10%;
    
}

.contentColumn p {
    font-size: 10px;
    line-height: 10px;
    padding-left: 5%;
    padding-right: 3%;
}

.centered-text {
    width: 250px;
    height: 90px;
    text-align: left !important;
    font-size: 12px;
    padding-left: 10%;
}



}