.titleFavs{
    display:flex;
    justify-content: center;
    color:F5037C;
    margin-top: 3%;
}


@media only screen and (max-width: 360px){
    .titleFavs h1{
        font-size: 18px;
        
    }
}    

