.line-container{
    background-color: #F5CFA2;
    width:100%;
    color:black;
    display: flex;
    height: 53px;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
   
}

.arrow-cursor {
  cursor: pointer;
}
.line-container p {
    margin-bottom: 8%;
    flex-basis: 50%;
    text-align: center;
  }

.custom-h6{
  margin-left: 10%;
}
.top-container{
    background-color: #FAE6CE;
    width:100%;
}
.top-container p{
  margin-left: 10%;
}
.container-f{
    background-color: #FAE6CE !important;
    margin-bottom: 0%!important ;
}
.titR{
  margin-left: 12%;
    margin-top: 10%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.tit{
    margin-top: 14%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
}
p {
    margin-bottom: 5px !important;
    color:#101010;
    font-family: 'Poppins', sans-serif;
    size:12px;
    line-height:18px;
    margin-bottom: 5%!important ;
  }
  .location-container {

    align-items: center;
    margin-top: 0%;
  }
  .location-icon{
    color:#F5037C;
    margin-right: 10px;
    font-weight: bold;
    
  }
  .bold-text {
    font-weight: bold;
    font-size: 12px;
  }
  
  .time-text {
    font-size: 12px;
    margin-left: 12%;
  }
  
  .text-reset{
    font-size:12px;
    text-decoration: none;
  }
  .text-reset:hover {
    text-decoration: underline;
  }
  .metodos-pago {
    margin-top: 10%;
    align-items: center;
    font-size: 16px;
  }
  

  .social-icon a {
    margin-right: 10px; /* Adjust the value as per your desired spacing */
  }
  .social-icon a:hover .icon {
    color: BLACK; /* Change the color to your desired hover color */
  }
  .icon{
    color:#F5037C;
  }

  .bottom{
    font-Size: 14px;
 
  }
  .row{
    margin-left:0% !important;

  }
  .row div{
    margin-left:2% !important;
  }
  .custom-margin {
    
    margin-left: 30%!important;
  }
  .text{
    font-size: 12px;
  }
  .repo {
    color: #101010;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    position: relative;
    overflow: hidden;
  }
  
  .repo:hover {
    text-decoration: underline;
  }
  

  


/*Media 1024*/
  @media (max-width: 1024px) {
  .line-container{
    width:1024px;
  }
  .top-container{
    width:1024px;
}
}



@media (max-width: 720px) {
  .footer{
    width: 720px;
  }
  .line-container{
    height: 100px;
    width: 720px;
  }
  .top-container{
    height: 1200px;
    width: 720px;
  }
  .custom-preg{ 
    margin-left: -7%;
  }
  .custom{
    margin-top: 5%;
    margin-left: -8%;
  }
  .icon-retiro{
    margin-left: -20%;
  }
  
  .text{
    margin-left:-19%;
  }
  .custom-h6{
    margin-left: -14%;
  
  }
  .MPMP{
    margin-left: -10% !important;
      
    }
    .MPE{
      margin-left: -28% !important;
    }
    .MPT{
      margin-left: -22% !important;
    }
    .MPU{
      margin-left: -14% !important;
    }
  
  .faq-item-q{
   margin-left: 1% !important;
  }
  .faq-item-p{
    margin-left: 8% !important;
  }
  .faq-item-pa{
    margin-left: -9% !important;
  }
  .faq-item-e{
    margin-left: -9% !important;
  }
  .faq-item-c{
    margin-left: -7% !important;
  }
  .tit{
    margin-top: 5%;
    margin-left: -23%;
  }
  .facebook{
    margin-left: -22%;
  }
  .icon{
    margin-left: 0%;
  }
  .icon-red{
    margin-left: 0%;
  }
  .repo-moni{
    margin-left: 20%; 
  }
  .repo-gian{
    margin-left: 20%; 
  }

}
/*Media 360*/
@media (max-width: 360px){
.footer{
  width: 360px;

}
.line-container{
  display:flex;
  flex-direction:column;
  align-self: center;
  height: 110px;
  width:360px;
}
.top-container{
  display:flex;
  flex-direction:column;
  align-self: left;
  height: 900px;
  width: 360px;
}
.tit{
  margin-left:-45%;
}
.repo-lau{
  margin-left: 0%;
}
.repo-moni{
  margin-left: 0%; 
}
.bottom{
    display:flex;
    flex-direction:column;
}
.row div{
  margin-left:8% !important;
}
.MPMP{
  margin-left: -6%!important; 
  }
  .MPE{
    margin-left:-50%!important;
  }
  .MPT{
    margin-left: -35% !important;
  }
  .MPU{
    margin-left: -17% !important;
  }
.repo-gian{
  margin-left: 0%; 
}
.faq-item-q{
  margin-left: -10% !important;
 }
 .faq-item-p{
   margin-left: 9% !important;
 }
 .faq-item-pa{
   margin-left: -31% !important;
 }
 .faq-item-e{
   margin-left: -30% !important;
 }
 .faq-item-c{
   margin-left: -25% !important;
 }
.media{
  width: 310px !important;
  margin-left: -20%;
}
.facebook{
  margin-left: -45%;
}

.retiro-nazc{
  margin-left:-23%;
}

}


