 #root {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
  text-align: center;  
}
.footer-container {
  height:284px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 0rem; /* Adjust the gap between columns */
}


