 #root {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
  text-align: center;  
}
.footer-container {
  height:284px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 0rem; /* Adjust the gap between columns */
}

@media only screen and (max-width: 1366px){
  header{
    width: 1366px;
}
}

@media only screen and (max-width: 1020px){
  header{
    width: 1020px;
}
}

@media only screen and (max-width: 720px){
  header{
    width: 720px;
}
}
@media only screen and (max-width: 360px){

  header{
    width: 360px;
    height: 100%;
  }
  
  nav{
    display: flex;
    flex-wrap: wrap;
    height: 245px;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 4px;
  }

  #retrato{
    height: 275px;
    width: 360px;
  }
}